<div class='row'>
  
  <div class='col-xs-3'>
    <h2>User info</h2>
    <%= render 'info', user: @user,now: ''%>

    <h2>New book</h2>
    <%= render 'books/form', book: @book %>

  </div>

  <div class='col-xs-9'>
    <h2>Books</h2>
    <%= render 'books/index',books: @books %>
  
  
  <div>
    
    <h3>投稿数の前日比・前週比</h3>
    
    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th>今日の投稿数</th>
          <th>前日の投稿数</th>
          <th>前日比</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @today = Book.where(created_at: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day, user_id: @user.id).count %>
          <td><%= @today %></td>
          <% @yesterday = Book.where(created_at: (Time.now.midnight - 1.day)..Time.now.midnight, user_id: @user.id).count %>
          <td><%= @yesterday %></td>
          <td>
            <% if @today > 0 && @yesterday > 0 %>
              <%= (@today / @yesterday).round * 100 %> %
            <% else %>
              0 %
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    
    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th>今週の投稿数</th>
          <th>前週の投稿数</th>
          <th>前週比</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <%= @this_week = Book.where(created_at: 1.week.ago.beginning_of_day..Time.zone.now.end_of_day, user_id: @user.id).count %>
          <td><%= @this_week %></td>
          <%#= @last_week = Book.where(created_at: 2.week.ago.beginning_of_day..Time.zone.1.week.ago.end_of_day, user_id: @user.id).count %>
          <td><%#= @last_week %></td>
          <td>
            <%# if @this_week > 0 && @last_week > 0 %>
              <%#= (@this_week / @last_week).round * 100 %> %
            <%# else %>
              0 %
            <%# end %>
          </td>
        </tr>
      </tbody>
    </table>
    
   
    
  </div>
  
  </div>
  
</div>