<div class='row'>
  <div class='col-xs-3'>
    <h2>User info</h2>
    <%= render 'users/info', user: current_user %>

    <h2>New book</h2>
    <%= render 'books/form', book: @book %>
  </div>

  <div class='col-xs-9'>
      <h2>Group detail</h2>
      <%= form_with url: group_users_path, method: :post, model: @group_user, local:true do |f| %>
      <table class='table'>
          <thead>
            <tr>
              <th></th>
              <th>グループ名</th>
              <th>紹介文</th>
              <th>メンバー</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
             <tr>
               <td><%= attachment_image_tag(@group, :image, :fill, 100, 100, fallback: "no-image-icon.jpg") %></td>
               <td><%= @group.name %></td>
               <td><%= @group.introduction %></td>
               <td>
                 <table>
                  <% @group_users.each do |group_user| %>
                    <tr>
                      <td><%= group_user.user.name %></td>
                    </tr>
                  <% end %>
                 </table>
               </td>
               <% if @group.owner_id == current_user.id %>
                   <td><%= link_to 'Edit', edit_group_path(@group), class: "btn btn-sm btn-success" %></td>
                   <td><%= link_to 'Notice an Event', edit_group_path(@group), class: "btn btn-info" %></td>
               <% else %>
                   <% unless GroupUser.exists?(group_id: @group.id, user_id: current_user.id) %>
                    <%= f.hidden_field :group_id, :value => @group.id %>
                    <td><%= f.submit "Join this group", class: "btn btn-sm btn-success" %></td>
                   <% else %>
                    <td><%= link_to 'Leave this group', group_user_path(@group), method: :delete, class: "btn-sm btn-danger"%></td>
                   <% end %>
               <% end %>
             </tr>
          </tbody>
      </table>
      <% end %>
  </div>
  
</div>